.p {
    width: 90%;
    color: white;
    background-color: rgba(160, 160, 160, 0.3);
}

.pp {
    background-color: none;
}

.ppp {}

.titulor {
    font-size: 40px;
}

.administradoresC {
    height: 1000px;
    background-color: grey;
}

.lat {
    height: 1000px;
    background-color: blue;
}

.ADbienvenida {
    color: white;
    font-size: xx-large;
}

.ADlat {
    color: white;
    font-size: xx-large;
}

.encabezado1 {
    color: white;
    font-size: 20px;
}

.encabezado1:hover {
    background-color: rgba(255, 255, 255, 0.329);
    text-decoration: none;
    color: white;
}

.contenedor_asignatura_alta {
    background-color: white;
}