.p {
    width: 90%;
    color: white;
    background-color: rgba(160, 160, 160, 0.3);
}

.pp {
    background-color: none;
}

.ppp {}

.titulor {
    font-size: 40px;
}

.administradoresC {
    height: 1000px;
    background-color: black;
}

.lat {
    height: 1000px;
    background-color: blue;
}

.ADbienvenida {
    color: white;
    font-size: xx-large;
}

.ADlat {
    color: white;
    font-size: xx-large;
}

.degradado {
    background-color: white;
}